<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realsoc.pipong">
    <uses-permission android:name="android.permission.INTERNET"/>
    <permission android:name="android"></permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.realsoc.pipong.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.realsoc.pipong.PlayersActivity"
            android:label="@string/players_activity">
        </activity>
        <activity android:name="com.realsoc.pipong.ConfigurationActivity"
            android:label="@string/configuration_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.realsoc.pipong.GameActivity"
            android:label="@string/GameActivity">
        </activity>
    </application>


</manifest>